.todo-item {
	height: 100%;
	padding: 0 1rem;
	border-radius: 10px;
	border: 1px solid #ccc;
	cursor: pointer;
	position: relative;
}

.todo-item--completed {
	text-decoration: line-through;
	color: green;
	border: 1px solid green;
}

.todo-item-delete-button {
	position: absolute;
	right: 0;
	bottom: 0;
}
